<div class="row">
    
    <div class="col-3">
            <% include menu_perfil %>
    </div>
    <div class="col-md-9">
        <p>Esto funciona correctamente</p>
        <p>Nombre: <%= session.user.firstName %></p>
        <p>Apellidos: <%= session.user.lastName %></p>               
        <p>Email: <%= session.user.email %></p>

        <button type="button">Editar</button>
    </div>
</div>









