
    <div class="col-12" id="barraLateral">
        <div class="container">
            <h3 style="margin-top: 10px; text-align-last: center">Mi Perfil</h3>
            <nav class="nav flex-column">
            <a class="nav-link nav-perf" href="/users/perfil/datos">Datos personales</a>
            <a class="nav-link nav-perf" href="#">Personajes votados</a>
            <a class="nav-link nav-perf" href="#">Otro menú por si acaso</a>
            </nav>
        </div>
    </div>

