<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>Comidas del dia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-controller="ctrl as miCtrl" ng-cloak>
  <header>
    <% include layouts/header %>
  </header>






  <footer>
    <% include layouts/footer %>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="/javascripts/listado_comidas.js"></script>
</body>

</html>
