<div class="container" ng-app="app" ng-controller="miCtrl" ng-cloak>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <div ng-if="rondas.length > 0" class="table-responsive">
        <table class="table table-hover">
          <!-- <div class="col-xs-12 col-lg-2 " style="padding: .5rem 1rem;">
            <a href="/comidas/new"><button type="button" class="btn-block btn btn-success"
            data-toggle="modal" data-target="#exampleModal">Añadir</button> </a>
          </div> -->
          <thead>
            <tr>
              <th>Ronda</th>
              <th>Ganador</th>
              <th>Frase</th>
              <th>Votos</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="e in rondas  | startFrom:currentPage*pageSize | limitTo:pageSize">
              <td>{{e.nombre}}</td>
              <td>{{e.Personajes[0].user.firstName}}</td>
              <td>{{e.Personajes[0].frase}}</td>
              <td>{{e.Personajes[0].votos}}</td>
            </tr>
          </tbody>
        </table>

        <div class="marginButton right">
          <button class="btn btn-secondary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
          </button>
          {{currentPage+1}}/{{numberOfPages()}}
          <button class="btn btn-secondary" ng-disabled="currentPage >= rondas.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="/javascripts/ganadores.js"></script>