<!DOCTYPE html>
<html>
<head>
  <title>C&P</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
</head>
<body>
  <header>
    <% include layouts/header %>
  </header>
  <section class="welcome" >
      <section class="jumbotron text-center">
            <h1 class="jumbotron-heading">Comidas</h1>
              <h1 class="jumbotron-heading"> & </h1>
              <h1 class="jumbotron-heading"> Personajes </h1>
            <p class="lead text-muted">¿Qué te apetece comer? <br>Elige tu menú y no te quedes sin comer, pequeño Capgeminite.</p>
            <p>
              <a href="/comidas/new" class="btn btn-success">Elegir comida</a>
              <a href="/comidas/solo" class="btn btn-secondary">Como solo</a>
            </p>
        </section>
  </section>
  
  <footer>
    <% include layouts/footer %>
  </footer>
</body>

</html>
