<!DOCTYPE html>
<html>
<head>
  <title>C&P</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <% include layouts/header %>
  </header>
  <section class="welcome" >
    <h1 class="align-self-center">Welcome to C&P</h1>
  </section>
  
  <footer>
    <% include layouts/footer %>
  </footer>
</body>

</html>
