<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <% include layouts/header %>
    </header>
    <h1>Bienvenido al portal CAP</h1>
    <p>Aquí podrá elegir que desea para comer, y votar por el personaje del mes</p>
    <br><br>

    <ul>
      <li><a href="quizs/add">Solicitar Comida</a></li>
      <li><a href="/quizs">Votar por el Personaje del mes</a></li>
    </ul>
    <footer>
      <% include layouts/footer %>
    </footer>
  </body>
</html>
