<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>
<body>
  <header>
    <% include layouts/header %>
  </header>
  <h1><%= title %></h1>
  <p>Welcome to CAP</p>
  
  <a href="/templates/login.html">Lista Personajes</a>

  <footer>
    <% include layouts/footer %>
  </footer>
</body>

</html>
