<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Comidas del dia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-controller="ctrl as miCtrl" ng-cloak>
    <header>
        <% include layouts/header %>
    </header>
    <br>
    <div class="container">
        <div ng-if="success">
            <div class="alert alert-success" role="alert">
                <strong>Gracias</strong> Tu comida se ha registrado correctamente.
            </div>
        </div>

        <br>
        <div ng-if="listaComidas.length == 0 && !loading">
            <div class="alert alert-info" role="alert">
                Todavía nadie ha añadido su comida
            </div>
        </div>
        <div ng-if="loading">
            <div class="alert alert-info" role="alert">
                Espere por favor
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div ng-if="listaComidas.length > 0" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Empleado</th>
                                <th>Lugar</th>
                                <th>Primer Plato</th>
                                <th>Segundo Plato</th>
                                <th>Bebida</th>
                                <th>Postre</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="e in listaComidas">
                                <td>
                                    {{e.user.firstName}}
                                </td>
                                <td>
                                    {{e.lugar}}
                                </td>
                                <td>
                                    {{e.primerPlato}}
                                </td>
                                <td>
                                    {{e.segundoPlato}}
                                </td>
                                <td>
                                    {{e.bebida}}
                                </td>
                                <td>
                                    {{e.postre}}
                                </td>
                                <td>
                                    <form action="{{ 'comidas/' + e.id + '/delete'}}" method="POST">
                                        <button onclick="return confirm('¿Estás seguro?');" type="submit" class="btn btn-danger">Borrar</button>
                                    </form>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3">
                <table ng-if="listaComidas.length > 0" class="table">
                    <thead>
                        <tr>
                            <th>Lugar</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="e in ranking | orderBy: 'numero' :true">
                            <td>{{e.lugar}}</td>
                            <td>{{e.numero}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-xs-12 col-lg-2">
                <a href="/comidas/new" type="button" class="btn btn-block btn btn-success">Añadir </a>
            </div>
        </div>
        <footer>
            <% include layouts/footer %>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="/javascripts/factoria.js"></script>
        <script src="/javascripts/listado_comidas.js"></script>
</body>

</html>