<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Login</h1>

            <form action="/login" method="POST">
                <input type="text"  placeholder="email" name="email">
                <input type="password" placeholder="Escribe contraseña" name="password" >
                <input type="submit" value="Añadir">
            </form>

</body>

</html>