<section ng-app="miModulo" ng-controller="miCtrl">
  <% include parts/form-new-comidas %>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="/javascripts/nuevaComida.js"></script>