<!DOCTYPE html>
<html>

<head>
  <title>C&P</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-app="miModulo" ng-controller="miCtrl">

  <header>
    <% include layouts/header %>
  </header>
  <section>
    <% include parts/form-new-comidas %>
  </section>
  <footer>
    <% include layouts/footer %>
  </footer>
</body>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
 <script src="/javascripts/nuevaComida.js"></script>
</html>