<div ng-app="appProf" ng-controller="ctrlProf">
    <div class="row">
        <div class="col-3">
            <% include perfil/menu_perfil %>
        </div>    
    </div>
    

  </div>
</div>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
 <script src="/javascripts/perfil.js"></script>
