body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
header{
  color: white;
  background: #00B7FF;
}
section.welcome {
  display: flex !important;
  justify-content: center;
  justify-items: center;
  height: 82vh;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}