body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
a {
  color: #00B7FF;
}
header{
  color: white;
  background: #00B7FF;
}
section.welcome {
  display: flex !important;
  justify-content: center;
  justify-items: center;
  height: 100vh;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.center{
  margin: auto !important
}
.stepwizard {
  display: table;
  width: 50%;
  position: relative;
  margin: auto;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.bg-faded {
  background-color: rgba(2, 117, 216, 0.76);
  border-bottom: 1px solid rgba(204, 204, 204, 0.17);
}
section.welcome {
  background: #0275d8;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(236, 238, 239, 0.87);
}
h1.align-self-center {
  color: white;
  text-align: center;
}
.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}
.top-menu a {
  color: #eceeef !important;
}
.wa_btn{
  padding: 15px 10px;
  color: white;
  background: url(../images/images.png) #449d44 no-repeat 13px;
  background-size: 31px;
  width: 200px
}
.compartir{
  text-align: right;
  clear: both;
  margin-bottom: 10px;
}

.is-first{
  color: green;
  font-size: 20px;
}

thead {
  background: rgba(214, 214, 214, 0.61);
}
.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}

.is-first{
  background-color: #5cb85c;
  color: black;
}