<div ng-app="personaje">
    <h1> {{ listaP }} </h1>
    <p ng-bind-html="alert"></p>
</div>
<div class="table-responsive">
    <table class="table table-condensed">
        <tr>
            <th>Nombre </th>
            <th>Frase Celebre </th>
            <th>Votos </th>
            <th>Ronda</th>
            <th>Votar</th>
        </tr>
        <tr ng-repeat="pers in personajes | orderBy: 'votos' : true">
                <td ng-class="{ 'is-first': $first }"> {{ pers.user.firstName }}</td>
                <td style="font-style: italic" ng-class="{ 'is-first': $first }">" {{ pers.frase }} "</td>
                <td ng-class="{ 'is-first': $first }"> {{ pers.votos }} </td>
                <td ng-class="{ 'is-first': $first }"> {{ pers.ronda }} </td>
                <td ng-class="{ 'is-first': $first }">
                    <input type="button" class="btn btn-primary btn-sm" value="+" ng-click="funciones.votar(pers)" />
                </td>
        </tr>
    </table>
</div>

</div>