<div ng-app="rondas">
    <h1>{{ saludo }}</h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Nombre</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
            </tr>
            <tr ng-repeat="ronda in rondas | startFrom:currentPage*pageSize | limitTo:pageSize |  orderBy: 'fechaFin' : true" 
            ng-click="irRonda(ronda)">
                <td> {{ ronda.nombre }}</td>
                <td> {{ ronda.fechaParse }}</td>
                <td>
                    <input type="button" class="btn btn-success" ng-if="ronda.estado" value="Abierta"/>
                    <input type="button" class="btn btn-danger" ng-if="!ronda.estado" value="Finalizada" />
                </td>
            </tr>
        </table>
        <div class="marginButton right">

            <button class="btn btn-secondary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button class="btn btn-secondary" ng-disabled="currentPage >= rondas.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>
    </div>

</div>